<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.warmj.dao.FileBoxDao">

    <resultMap type="FileBox" id="FileBoxResultMap">
        <result column="title" property="title" javaType="String" jdbcType="VARCHAR"/>
        <result column="add_time" property="addTime"/>
        <result column="last_time" property="lastTime"/>
    </resultMap>

    <resultMap type="File" id="FileResultMap">
        <id column="file_box_id" property="fileBoxId" javaType="int" jdbcType="INTEGER"/>
        <result column="number_order" property="numberOrder" javaType="int" jdbcType="INTEGER"/>
        <result column="path" property="path" javaType="String" jdbcType="VARCHAR"/>
        <result column="type" property="type" javaType="String" jdbcType="VARCHAR"/>
        <result column="add_time" property="addTime"/>
        <result column="last_time" property="lastTime"/>
    </resultMap>

    <select id="getAllFileBox" resultMap="FileBoxResultMap">
        SELECT
            *
        FROM
            file_box
    </select>

    <select id="getFileBoxByIdList" resultMap="FileBoxResultMap">
        SELECT
            *
        FROM
            file_box
        WHERE id IN
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <insert id="postFileBox" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO file_box (`title`, `desc`, `count`, `add_time`, `last_time`)
        VALUES (#{title}, #{desc}, #{count}, NOW(), NOW());
    </insert>

    <delete id="deleteFileBox" parameterType="int">
        DELETE
        FROM
            file_box
        WHERE
            id = #{id}
    </delete>

    <select id="getRelationListByTitle" parameterType="java.lang.String" resultType="java.util.HashMap">
        SELECT
            file_box_id,
            GROUP_CONCAT( tag_id ) AS tag_id
        FROM
            relation
        WHERE
            file_box_id IN ( SELECT id FROM file_box WHERE title LIKE concat('%', #{title}, '%') )
        GROUP BY
            file_box_id
    </select>

    <select id="getFileBoxByTitle" parameterType="java.lang.String" resultMap="FileBoxResultMap">
        SELECT
            *
        FROM
            file_box
        WHERE
            title LIKE concat('%', #{title}, '%')
    </select>

</mapper>
