<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.warmj.dao.FileDao">

    <resultMap type="File" id="FileResultMap">
        <id column="file_box_id" property="fileBoxId" javaType="long" jdbcType="INTEGER"/>
        <result column="number_order" property="numberOrder" javaType="long" jdbcType="INTEGER"/>
        <result column="path" property="path" javaType="String" jdbcType="VARCHAR"/>
        <result column="type" property="type" javaType="String" jdbcType="VARCHAR"/>
        <result column="add_time" property="addTime"/>
        <result column="last_time" property="lastTime"/>
    </resultMap>

    <select id="getFile" parameterType="int" resultMap="FileResultMap">
        SELECT
            *
        FROM
            file
        WHERE
            id = #{id}
    </select>

    <select id="getAllFile" resultMap="FileResultMap">
        SELECT
            *
        FROM
            file
    </select>

    <insert id="postFile">
        INSERT INTO file (file_box_id, number_order, path, type, add_time, last_time)
        VALUES ( #{fileBoxId}, #{numberOrder}, #{path}, #{type}, NOW(), NOW());
    </insert>

    <delete id="deleteFile" parameterType="int">
        DELETE
        FROM
            file
        WHERE
            id = #{id}
    </delete>
</mapper>
